@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700;9..40,800;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
html h2, body h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
html h4, body h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
html p, body p {
  color: #b1afaf;
}

.btn-transperent {
  background-color: transparent;
  border: 1px solid #191919;
  padding: 15px 30px;
  border-radius: 35px;
  color: #191919;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.btn-transperent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transperent:hover {
  background-color: #191919;
  border-color: #191919;
  color: #DBDAD5;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  padding: 15px 30px;
  border-radius: 35px;
  color: #F0EFE9;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: transparent;
  border-color: #191919;
  color: #191919;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  padding: 15px 30px;
  border-radius: 35px;
  color: #191919;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #DBDAD5;
}

.red-section-title {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
}

.box-title-font {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
header .container .menu-bar {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bar {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
@media (min-width: 2500px) {
  header .container .menu {
    max-width: 2048px;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DBDAD5;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
    justify-content: center;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DBDAD5;
  font-size: 15px;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2rem;
  color: #6e6a6a;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #6e6a6a;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
  font-size: 18px;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .login-btn {
  padding-top: 8px;
  padding-bottom: 8px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  padding-bottom: 40px;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
@media (min-width: 786px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 786px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content .button {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;
}
@media (min-width: 1200px) {
  .showcase .container .content .button {
    flex-direction: row;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}
.showcase .container .content .button a {
  z-index: 2;
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}
.showcase .decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .decoration {
    display: flex;
    z-index: 1;
  }
}

.partners .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}
@media (min-width: 1200px) {
  .partners .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.futures {
  padding-bottom: 80px;
}
.futures .container {
  max-width: 1520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #DBDAD5;
  height: auto;
}
@media (min-width: 992px) {
  .futures .container {
    flex-direction: row;
  }
}
.futures .container .futures-text-block {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 20px;
  text-align: center;
}
.futures .container .futures-text-block a {
  text-align: center;
}
@media (min-width: 786px) {
  .futures .container .futures-text-block {
    text-align: left;
    padding-left: 60px;
  }
}
@media (min-width: 1200px) {
  .futures .container .futures-text-block {
    padding-top: 80px;
    padding-left: 100px;
  }
}
.futures .container .futures-text-block .content-text {
  text-align: center;
}
.futures .container .futures-text-block .content-text h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .futures .container .futures-text-block .content-text h2 {
    font-size: 45px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .futures .container .futures-text-block .content-text {
    text-align: left;
  }
}
.futures .container .futures-boxes {
  display: block;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 0;
}
@media (min-width: 992px) {
  .futures .container .futures-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 120px;
  }
}
.futures .container .futures-boxes .box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 0;
  padding-top: 0;
  box-sizing: border-box;
}
.futures .container .futures-boxes .box-content h4 {
  font-size: 22px;
}
.futures .container .futures-boxes .box-content p {
  font-size: 16px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .futures .container .futures-boxes .box-content p {
    padding-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .futures .container .futures-boxes .box-content {
    padding-right: 20px;
    display: block;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: calc(50% - 60px);
  }
}
@media (min-width: 1200px) {
  .futures .container .futures-boxes .box-content {
    padding-right: 50px;
    padding-top: 70px;
  }
}
.futures .container .futures-boxes .box-content i {
  font-size: 20px;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  .futures .container .futures-boxes .box-content i {
    font-size: 30px;
    padding-bottom: 25px;
  }
}

.about .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .about .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .about .container {
    gap: 180px;
  }
}
.about .container .img-container {
  position: relative;
}
.about .container .img-container img {
  max-width: 100%;
  height: auto;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .about .container .img-container {
    display: inline-block;
  }
  .about .container .img-container img {
    width: 533px;
    height: 615px;
    max-width: none;
    margin-left: 55px;
  }
}
.about .container .img-container .quote {
  height: auto;
  display: block;
  background-color: #BEEBFF;
  padding: 20px;
}
@media (min-width: 992px) {
  .about .container .img-container .quote {
    position: absolute;
  }
}
@media (min-width: 992px) {
  .about .container .img-container .quote {
    width: 368px;
    height: 180px;
    top: 385px;
  }
}
.about .container .img-container .quote #samantha {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
}
@media (min-width: 1200px) {
  .about .container .img-container .quote #samantha {
    font-size: 16px;
  }
}
.about .container .img-container .quote p {
  font-size: 16px;
  color: #6e6a6a;
  font-weight: 500;
}
.about .container .img-container .quote .colored-word {
  font-size: 18px;
  color: #F94D1C;
  font-weight: 700;
}
.about .container .content {
  display: block;
}
.about .container .content h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .about .container .content h2 {
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 0;
  }
}
.about .container .content #about-company-text {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}
@media (min-width: 992px) {
  .about .container .content #about-company-text {
    padding-top: 0;
  }
}
.about .container .content p {
  font-size: 16px;
  color: #6e6a6a;
  padding-right: 10px;
}
.about .container .content .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}
.about .container .content .buttons .btn-black {
  text-align: center;
}
.about .container .content .buttons .btn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  text-decoration: none;
  color: #191919;
  padding-top: 30px;
}
.about .container .content .buttons .btn-play #video-icon {
  font-size: 3em;
}
.about .container .content .buttons .btn-play span {
  text-align: center;
}
.about .container .content .buttons .btn-play:hover {
  color: #b1afaf;
}
@media (min-width: 786px) {
  .about .container .content .buttons {
    justify-content: space-between;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .about .container .content .buttons .btn-play {
    padding-top: 0;
    justify-content: left;
  }
}
@media (min-width: 1200px) {
  .about .container .content .buttons {
    justify-content: left;
  }
}

.services {
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}
.services .container {
  display: block;
}
.services .container p {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container p {
    text-align: left;
  }
}
.services .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 992px) {
  .services .container h2 {
    text-align: left;
  }
}
.services .container .services-boxes {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 50px;
  gap: 40px;
}
@media (min-width: 992px) {
  .services .container .services-boxes {
    flex-direction: row;
    justify-content: space-between;
  }
}
.services .container .services-boxes #box-yellow {
  background-color: #F9D783;
}
.services .container .services-boxes .box-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content {
    display: block;
  }
}
.services .container .services-boxes .box-content h4 {
  padding-top: 20px;
}
.services .container .services-boxes .box-content .left-content {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content .left-content {
    text-align: left;
  }
}
.services .container .services-boxes .box-content .left-content i {
  font-size: 40px;
  padding-top: 20px;
}
.services .container .services-boxes .box-content .right-content {
  text-align: center;
}
@media (min-width: 992px) {
  .services .container .services-boxes .box-content .right-content {
    text-align: right;
  }
}
.services .container .services-boxes .box-content .right-content i {
  font-size: 56px;
  background-color: transparent;
  color: #191919;
}
.services .container .services-boxes .box-content .right-content a :hover {
  color: #b1afaf;
}
.services .container .services-boxes .box-content .right-content #a-vit :hover {
  color: #ffffff;
}
.services .container .button {
  display: flex;
  justify-content: center;
  text-align: center;
}
.services .container .button a {
  flex: 1;
}
@media (min-width: 992px) {
  .services .container .button {
    display: block;
    align-items: center;
  }
}
.services .decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
@media (min-width: 1200px) {
  .services .decoration {
    display: flex;
    justify-content: flex-end;
  }
}
.services .decoration img {
  flex: 0.2;
}

.why-choose-us {
  position: relative;
}
.why-choose-us .container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  text-align: center;
}
@media (min-width: 1200px) {
  .why-choose-us .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
  }
}
@media (min-width: 1400px) {
  .why-choose-us .container {
    gap: 100px;
  }
}
.why-choose-us .container .img-container img {
  width: 345px;
  height: auto;
  padding-top: 60px;
}
@media (min-width: 786px) {
  .why-choose-us .container .img-container img {
    width: 645px;
    height: 505px;
  }
}
.why-choose-us .container .content {
  display: block;
  padding-right: 20px;
}
@media (min-width: 1400px) {
  .why-choose-us .container .content {
    padding-right: 160px;
  }
}
.why-choose-us .container .content h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .why-choose-us .container .content h2 {
    font-size: 45px;
  }
}
.why-choose-us .container .content #red-text {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}
@media (min-width: 992px) {
  .why-choose-us .container .content #red-text {
    padding-top: 0;
  }
}
.why-choose-us .container .content .boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-choose-us .container .content .boxes a {
  text-decoration: none;
  color: #191919;
}
.why-choose-us .container .content .boxes a :hover {
  color: #6e6a6a;
}
.why-choose-us .container .content .boxes .list-box .box {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.why-choose-us .container .content .boxes .list-box .box .circle {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 2px solid #F0EFE9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .container .content .boxes .list-box .box .circle i {
  font-size: 25px;
  text-align: center;
}
.why-choose-us .container .content .boxes .list-box .box .box-content h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.why-choose-us .container .content .boxes .list-box .box .box-content p {
  font-size: 16px;
  padding-bottom: 15px;
}
.why-choose-us .backround-box {
  position: absolute;
  background-color: #F0EFE9;
  top: 300px;
  right: 0;
  width: 55%;
  height: 47%;
  z-index: -1;
  display: none;
}
@media (min-width: 1400px) {
  .why-choose-us .backround-box {
    display: block;
  }
}

.testimonial {
  background-color: #EDCF87;
  padding-top: 40px;
  padding-bottom: 80px;
}
.testimonial .container {
  padding: 80px 80px 140px 80px;
  background-color: #ffffff;
  text-align: center;
}
.testimonial .container h2 {
  padding-bottom: 30px;
}
.testimonial .container .boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
@media (min-width: 1200px) {
  .testimonial .container .boxes {
    flex-direction: row;
    text-align: left;
  }
}
.testimonial .container .boxes .box {
  display: block;
  justify-content: center;
  padding: 20px;
}
.testimonial .container .boxes .box p {
  font-size: 18px;
  letter-spacing: -0.2px;
}
.testimonial .container .boxes .box .stars {
  padding-bottom: 26px;
  color: #F94D1C;
}
.testimonial .container .boxes .box .customer {
  display: block;
  padding-top: 30px;
  gap: 0;
}
.testimonial .container .boxes .box .customer img {
  width: 70px;
  height: 70px;
}
@media (min-width: 1200px) {
  .testimonial .container .boxes .box .customer {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 10px;
  }
}
.testimonial .container .boxes .box .customer .content {
  align-items: center;
  text-align: center;
}
.testimonial .container .boxes .box .customer .content p {
  font-size: 16px;
}
.testimonial .container .boxes .box .customer .content h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 992px) {
  .testimonial .container .boxes .box .customer .content h4 {
    margin-top: 10px;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .testimonial .container .boxes .box .customer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}
.testimonial .container .button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 48px;
}
.testimonial .container .button a {
  flex: 1;
}
@media (min-width: 992px) {
  .testimonial .container .button {
    display: block;
    align-items: center;
  }
}

.article-news .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .article-news .container {
    text-align: left;
  }
}
.article-news .container .top-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 38px;
}
@media (min-width: 992px) {
  .article-news .container .top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.article-news .container .boxes {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
@media (min-width: 992px) {
  .article-news .container .boxes {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
  }
}
.article-news .container .boxes .box {
  display: block;
}
.article-news .container .boxes .box .img-content {
  position: relative;
  display: block;
}
@media (min-width: 992px) {
  .article-news .container .boxes .box .img-content {
    display: flex;
    align-items: left;
  }
}
.article-news .container .boxes .box .img-content img {
  width: 420px;
  height: 230px;
}
.article-news .container .boxes .box .img-content .calendar {
  position: absolute;
  width: 56px;
  height: 64px;
  background-color: #F9D783;
  left: 12%;
  top: 16px;
  padding: 10px 11px 8px 14px;
}
@media (min-width: 768px) {
  .article-news .container .boxes .box .img-content .calendar {
    left: 22%;
  }
}
@media (min-width: 992px) {
  .article-news .container .boxes .box .img-content .calendar {
    left: 5%;
  }
}
.article-news .container .boxes .box .img-content .calendar span {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.article-news .container .dots {
  text-align: center;
  font-size: 12px;
}
.article-news .container .dots a {
  color: #6e6a6a;
}
.article-news .container .dots .active {
  color: #191919;
}
.article-news .container .dots a :hover {
  color: #191919;
}

.get-update {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #DBDAD5;
  position: relative;
}
.get-update .container {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .get-update .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
  }
}
.get-update .container .button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
@media (min-width: 1200px) {
  .get-update .container .button {
    display: flex;
    flex-direction: row;
  }
}
.get-update .container input {
  border-radius: 35px;
  border: none;
  text-align: center;
  padding: 15px 30px;
  width: 100%;
}
@media (min-width: 1200px) {
  .get-update .container input {
    width: 308px;
    text-align: left;
  }
}
.get-update .decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.get-update .decoration img {
  flex: 0.2;
  margin-bottom: 28px;
  width: 100px;
  height: 58px;
}

.footer {
  padding-top: 80px;
  background-color: #0E1021;
  padding-bottom: 80px;
  position: relative;
}
.footer .container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 992px) {
  .footer .container {
    display: flex;
    justify-content: flex-start;
    gap: 105px;
    align-items: left;
    text-align: left;
  }
}
.footer .container .logo {
  flex: 0.4;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  text-align: center;
}
@media (min-width: 992px) {
  .footer .container .logo {
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}
.footer .container .logo p {
  padding-top: 29px;
  text-align: center;
}
@media (min-width: 992px) {
  .footer .container .logo p {
    text-align: left;
    margin-right: 60px;
  }
}
.footer .container .content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-top: 25px;
}
@media (min-width: 992px) {
  .footer .container .content {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    flex: 1;
  }
}
.footer .container .content .box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .footer .container .content .box {
    padding-bottom: 0;
  }
  .footer .container .content .box h4 {
    padding-bottom: 10px;
  }
}
.footer .container .content .box h4 {
  padding-bottom: 0;
}
.footer .container .content .box a {
  text-decoration: none;
  color: #b1afaf;
  font-weight: 500;
}
.footer .container .content .box a:hover {
  color: #ffffff;
}
.footer .decoration {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.footer .decoration img {
  flex: 0.2;
}

.bootom-footer {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #0E1021;
  border: 1px solid #6e6a6a;
}
.bootom-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: cemter;
  color: #b1afaf;
}
@media (min-width: 992px) {
  .bootom-footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bootom-footer .container .social-media a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-left: 10px;
}
.bootom-footer .container .social-media a:hover {
  color: #6e6a6a;
}